.modal-content{
    color: $new-brown;
    background-color: #efcece;
    margin-top: 53px;


    .modal-body{
        height: 180px;
        display: flex;
        .setop{
            display: grid;
            margin-left: 15px;
            select{
                width: 100px;
                height: 25px;
            }
        }
        .inp{
            display: flex;
            margin-top: 20px;
        }
        #sp,#gia{
            margin-top: 40px;
        }
    }

    .modal-footer{
        height: 70px;
        .btn-them{
            border: white;
            border-radius: 50%;
            width: 50px;
            height: 35px;
            background-color: $new-brown;
            font-size: 0.75rem;
            color: white;
            &:hover{
                background-color: $new-brown-gray;
                color: black;
            }
        }
        .btn-sua{
            border: white;
            border-radius: 50%;
            width: 50px;
            height: 35px;
            background-color: $new-brown;
            font-size: 0.75rem;
            color: white;
            &:hover{
                background-color:$new-brown-gray;
                color: black;
            }
        }
        .btn-huy{
            border: white;
            border-radius: 50%;
            width: 50px;
            height: 35px;
            background-color: $new-dark-blue;
            font-size: 0.75rem;
            color: white;
            &:hover{
                background-color:$new-blue;
                color: black;
            }
        }
        
        
    }
}