/* Đặt font chữ mặc định cho toàn bộ ứng dụng */
body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

/* Căn giữa nội dung theo chiều dọc */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

/* Định dạng hình ảnh tròn */
.rounded-circle {
  border-radius: 50%;
  object-fit: cover;
}

/* Xóa khoảng cách thừa trong phần container */
.container {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Khoảng cách trên và dưới giữa các phần (section) */
section {
  padding: 60px 0;
}

/* Căn giữa ảnh trong phần đội ngũ (team) */
.team img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #fff;
  transition: transform 0.3s ease-in-out;
}

.team img:hover {
  transform: scale(1.1);
}

/* Thiết lập layout chính với sidebar và nội dung chính */
.app-container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar với màu nền tối */
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh; /* Đảm bảo sidebar có đủ chiều cao */
  background: #343a40;
  padding: 20px;
  overflow-y: auto;
}

/* Thu nhỏ sidebar khi ở trạng thái collapsed */
.sidebar.collapsed {
  width: 70px;
}

/* Phần nội dung chính (main content) */
.main-content {
  flex-grow: 1;
  padding: 20px;
  background: #f8f9fa;
  min-height: 100vh;
  overflow: auto;
}

/* Hiệu ứng chuyển đổi màu khi hover */
.transition-hover {
  transition: color 0.3s ease-in-out;
}

/* Thay đổi màu khi di chuột vào */
.transition-hover:hover {
  color: lightgray !important;
}

.dropdown-item:hover {
  background-color: grey !important;
}

.feedback-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  padding: 5px 10px;
}

.feedback-form {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 500px;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%; 
    height: auto; 
    max-height: 500px;
    object-fit: contain;
}
