#loginpage{
    &.App{
        // background-color: rgb(255, 255, 255);
        background: linear-gradient(187deg, rgb(45, 184, 194) 0%, rgb(144, 81, 232) 48%, rgb(195, 75, 216) 99%);
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 5%;
    }
    .App-header{
        background-color: white;
        border-radius: 15px;
        padding: 20px;
        width: 60%;
        position: absolute;
        margin: 5%;
        margin-left: 15%;
        .text-login{
            font-family: 'Montserrat';
            font-size: 2.8rem;
            -webkit-text-fill-color: transparent;
            font-weight: 600;
            background: linear-gradient(0deg, rgb(12 62 234) 0%, rgb(190 48 202) 35%, rgb(112 201 239) 100%);
            text-align: center;
            background-clip: text;
        }
        .form-check-input{
            border: 1px solid black;
        }
        .form-label{
            color: red;
        }

    }
   
}